/* Custom */


@media screen and (max-width: 768px){
    body,html {
      overflow-x: hidden;
    }
  }


  /*----------------------------- 
  
  Header/ Navigation 
  
  -------------------------------*/
  
  .isActive {
    transform: translateX(0%) !important;
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
  
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  div.toggle.line1 {
    transform: rotate(-45deg) translate(-5px,6px);
    transition: all 0.3s ease;
  }
  
  div.toggle.line2 {
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  div.toggle.line3 {
    transform: rotate(45deg) translate(-5px,-6px) ;
    transition: all 0.3s ease;
  }
  
  
  div.un-toggle.line1 {
    transform: rotate(180deg) ;
    transition: all 0.3s ease;
  }
  
  div.un-toggle.line2 {
    opacity: 1;
    transition: all 0.3s ease;
  }
  
  div.un-toggle.line3 {
    transform: rotate(-180deg) ;
    transition: all 0.3s ease;
  }
  
  #background-video{
    position: absolute;
    top: 0;
    color: #f1f1f1;
    background-color: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }


  #spotify, #facebook, #instagram {
    margin-right: 35px;
  
  }
  #spotify, #facebook, #instagram, #twitter {
    
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */
    box-shadow:
    0 0 10px 5px #fff,  /* inner white */
    0 0 20px 10px #f0f, /* middle magenta */
    0 0 30px 15px #0ff; /* outer cyan */
    
  }

  #footer-spotify, #footer-facebook, #footer-instagram {
    margin-right: 10px;
    
    
  }

  h4 {
    margin-block-end: 0;
  }






  #footer-camera,#footer-spot,#footer-f,#footer-bird {
    -webkit-transition: fill .5s ease-out;
    -moz-transition: fill .5s ease-out;
    -o-transition: fill .5s ease-out;
    transition: fill .5s ease-out;
  } 

   #footer-camera:hover,#footer-spot:hover,#footer-f:hover,#footer-bird:hover {
    fill: #edb928;
  }






  

  